<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>169.20.0.267128</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {918, 699}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasSize</key>
	<string>{918, 699}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2016-10-12 00:02:26 +0000</string>
	<key>Creator</key>
	<string>Benjamin Ylvisaker</string>
	<key>DisplayScale</key>
	<string>1 in = 1 in</string>
	<key>FileType</key>
	<string>auto</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{245.24999999999977, 331.875}, {27, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>116</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<real>0.464949</real>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwFBhoQCaUkBAZKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				hAFjAYQEZmZmZgAAAAGGkoSWlhBOU1BhcmFncmFwaFN0
				eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
				hIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAgCEhIQH
				TlNBcnJheQCUmQCGgQAChARbMWZdJIaShJaWBk5TRm9u
				dIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAAABIAAAD/
				/kcAaQBsAGwAUwBhAG4AcwAAAIQBZhibAJsBmwCbAIaG
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504
{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;\csgray\c100000;\csgenericrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\qc\partightenfactor0

\f0\fs48 \cf2 A}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>167</integer>
					<key>Points</key>
					<array>
						<string>{284.82065217391266, 350.4375}</string>
						<string>{284.82065217391266, 364.5}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>168</integer>
					<key>Points</key>
					<array>
						<string>{297.80706521739114, 350.4375}</string>
						<string>{297.80706521739114, 364.5}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>170</integer>
					</dict>
					<key>ID</key>
					<integer>169</integer>
					<key>Points</key>
					<array>
						<string>{297.80706521739069, 350.43749999999966}</string>
						<string>{245.86141304347825, 350.4375}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{232.875, 336.375}, {25.972826086956523, 28.125000000000004}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>170</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.0</real>
								<key>g</key>
								<real>0.42529899999999998</real>
								<key>r</key>
								<real>0.98855800000000005</real>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>166</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>189</integer>
			</dict>
			<key>ID</key>
			<integer>190</integer>
			<key>Points</key>
			<array>
				<string>{369.08262711864404, 175.5}</string>
				<string>{285, 279}</string>
				<string>{254.1171875, 450.1875}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.50196081400000003</real>
						<key>r</key>
						<real>1</real>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<false/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>186</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{205.875, 403.875}, {96.484375, 92.625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>189</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{646.875, 124.875}, {103.66525423728814, 78.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>188</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{468, 177.75}, {103.66525423728814, 78.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>187</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{317.25, 136.125}, {103.66525423728814, 78.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>186</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{635.62499999999977, 510.75}, {27, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>182</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<real>0.464949</real>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwFDhoQCaUkBAZKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				hAFjAYQEZmZmZgAAAAGGkoSWlhBOU1BhcmFncmFwaFN0
				eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
				hIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAgCEhIQH
				TlNBcnJheQCUmQCGgQAChARbMWZdJIaShJaWBk5TRm9u
				dIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAAABIAAAD/
				/kcAaQBsAGwAUwBhAG4AcwAAAIQBZhibAJsBmwCbAIaG
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504
{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;\csgray\c100000;\csgenericrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\qc\partightenfactor0

\f0\fs48 \cf2 C}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>178</integer>
					<key>Points</key>
					<array>
						<string>{675.19565217391255, 529.3125}</string>
						<string>{675.19565217391255, 543.375}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>179</integer>
					<key>Points</key>
					<array>
						<string>{688.18206521739103, 529.3125}</string>
						<string>{688.18206521739103, 543.375}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>181</integer>
					</dict>
					<key>ID</key>
					<integer>180</integer>
					<key>Points</key>
					<array>
						<string>{688.18206521739057, 529.31249999999966}</string>
						<string>{636.23641304347825, 529.3125}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{623.25, 515.25}, {25.972826086956523, 28.125000000000004}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>181</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.0</real>
								<key>g</key>
								<real>0.42529899999999998</real>
								<key>r</key>
								<real>0.98855800000000005</real>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>177</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{485.24999999999977, 489.375}, {24, 39}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>GillSans</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>176</integer>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<real>0.464949</real>
						<key>b</key>
						<real>1</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>1</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwFChoQCaUkBAZKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCU
				hAFjAYQEZmZmZgAAAAGGkoSWlhBOU1BhcmFncmFwaFN0
				eWxlhpKEhIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUA
				hIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAgCEhIQH
				TlNBcnJheQCUmQCGgQAChARbMWZdJIaShJaWBk5TRm9u
				dIaShISEBk5TRm9udB6UmRyEBVsyOGNdBgAAABIAAAD/
				/kcAaQBsAGwAUwBhAG4AcwAAAIQBZhibAJsBmwCbAIaG
				hg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504
{\fonttbl\f0\fnil\fcharset0 GillSans;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;\csgray\c100000;\csgenericrgb\c0\c0\c0;}
\deftab720
\pard\pardeftab720\qc\partightenfactor0

\f0\fs48 \cf2 B}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>172</integer>
					<key>Points</key>
					<array>
						<string>{523.32065217391266, 507.9375}</string>
						<string>{523.32065217391266, 522}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>173</integer>
					<key>Points</key>
					<array>
						<string>{536.30706521739114, 507.9375}</string>
						<string>{536.30706521739114, 522}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>175</integer>
					</dict>
					<key>ID</key>
					<integer>174</integer>
					<key>Points</key>
					<array>
						<string>{536.30706521739069, 507.93749999999966}</string>
						<string>{484.36141304347825, 507.9375}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Cap</key>
							<integer>2</integer>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<false/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{471.375, 493.875}, {25.972826086956523, 28.125000000000004}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>175</integer>
					<key>Shape</key>
					<string>Circle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.0</real>
								<key>g</key>
								<real>0.42529899999999998</real>
								<key>r</key>
								<real>0.98855800000000005</real>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.40000000000000002</real>
								<key>g</key>
								<real>0.80000000000000004</real>
								<key>r</key>
								<real>1</real>
							</dict>
							<key>Width</key>
							<real>4</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>171</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{633, 378}, {48, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>20</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.011764699999999999</real>
						<key>g</key>
						<real>0.216471</real>
						<key>r</key>
						<real>0.352941</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.145371</real>
						<key>g</key>
						<real>0.34027600000000002</real>
						<key>r</key>
						<real>0.48775099999999999</real>
					</dict>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{621, 423}, {72, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999999999999734, -0.5}</string>
					<string>{-0.49999999999999734, -0.5}</string>
					<string>{0.49999999999999734, -0.5}</string>
					<string>{0.49999999999999734, -0.5}</string>
					<string>{0.49999999999999734, -0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.49999999999999734, 0.5}</string>
					<string>{0.49999999999999734, 0.5}</string>
					<string>{0.49999999999999734, 0.5}</string>
					<string>{-0.49999999999999734, 0.5}</string>
					<string>{-0.49999999999999734, 0.5}</string>
					<string>{-0.49999999999999734, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.50000000000000089, 0.5}</string>
					<string>{-0.49999999999999734, 0.5}</string>
					<string>{-0.49999999999999734, 0.5}</string>
					<string>{-0.49999999999999734, 0.5}</string>
					<string>{-0.49999999999999734, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.76706799999999997</real>
						<key>g</key>
						<real>0.77030200000000004</real>
						<key>r</key>
						<real>0.38218299999999999</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.0</real>
						<key>r</key>
						<real>1</real>
					</dict>
					<key>CornerRadius</key>
					<real>23</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{489, 360}, {48, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>18</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.45051200000000002</real>
						<key>g</key>
						<real>0.64401600000000003</real>
						<key>r</key>
						<real>0.88823300000000005</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.66358499999999998</real>
						<key>g</key>
						<real>0.80611299999999997</real>
						<key>r</key>
						<real>0.91395700000000002</real>
					</dict>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{477, 405}, {72, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>17</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999999999999689, -0.5}</string>
					<string>{-0.49999999999999689, -0.5}</string>
					<string>{0.49999999999999911, -0.5}</string>
					<string>{0.49999999999999911, -0.5}</string>
					<string>{0.49999999999999911, -0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.49999999999999911, 0.5}</string>
					<string>{0.49999999999999911, 0.5}</string>
					<string>{0.49999999999999911, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.50000000000000089, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.77030200000000004</real>
						<key>g</key>
						<real>0.40509499999999998</real>
						<key>r</key>
						<real>0.38218299999999999</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>0.67503000000000002</real>
						<key>r</key>
						<real>1</real>
					</dict>
					<key>CornerRadius</key>
					<real>23</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{327, 378}, {48, 45}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.74117599999999995</real>
						<key>g</key>
						<real>0.879216</real>
						<key>r</key>
						<real>1</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.53317999999999999</real>
						<key>g</key>
						<real>0.72108099999999997</real>
						<key>r</key>
						<real>0.86325499999999999</real>
					</dict>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{315, 423}, {72, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>6</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.49999999999999689, -0.5}</string>
					<string>{-0.49999999999999689, -0.5}</string>
					<string>{0.49999999999999911, -0.5}</string>
					<string>{0.49999999999999911, -0.5}</string>
					<string>{0.49999999999999911, -0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.49999999999999911, 0.5}</string>
					<string>{0.49999999999999911, 0.5}</string>
					<string>{0.49999999999999911, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.5, 0.5}</string>
					<string>{-0.50000000000000089, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, 0.5}</string>
					<string>{-0.49999999999999689, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.76947200000000004</real>
						<key>g</key>
						<real>0.38742300000000002</real>
						<key>r</key>
						<real>0.77484600000000003</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.0</real>
						<key>g</key>
						<real>1</real>
						<key>r</key>
						<real>0.34428300000000001</real>
					</dict>
					<key>CornerRadius</key>
					<real>23</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{216, 83.25}, {630, 231.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>157</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.70196099999999995</real>
						<key>g</key>
						<real>0.70196099999999995</real>
						<key>r</key>
						<real>0.70196099999999995</real>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<real>0.80000000000000004</real>
						<key>g</key>
						<real>0.80000000000000004</real>
						<key>r</key>
						<real>0.80000000000000004</real>
					</dict>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.tiff</string>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>Slices</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2016-10-25 20:17:48 +0000</string>
	<key>Modifier</key>
	<string>Benjamin Ylvisaker</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{289, 418}, {1402, 872}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>TopSlabHeight</key>
		<real>33</real>
		<key>VisibleRegion</key>
		<string>{{30, 0}, {888, 699}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
